@model IEnumerable<PraticandoProgramção.MVC.Entidades.ClubesFutebol>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach (var item in Model)
    {
        <div class="card">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                           Clube
                        </th>

                        <th>
                            Quantidade de Vitórias
                        </th>

                        <th>
                           Pontuação
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var clube in item.Clubes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(Model => clube.NomeClube);
                            </td>

                            <td>
                                @Html.DisplayFor(Model => clube.QdeVitoria);
                            </td>

                            <td>
                                @Html.DisplayFor(Model => clube.Pontuacao);
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    }
</div>
